:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  color-scheme: dark;
  --pico-form-element-spacing-vertical: 5px;
  --pico-form-element-spacing-horizontal: 5px;

  button {
    font-size: 0.7rem;
  }

  [data-tooltip]:not(a, button, input) {
    border-bottom: none;
  }
}

#issues-container {
  height: 100%;
  width: 100%;
  min-height: 400px;
}

body {
  padding: 20px;
  margin-bottom: 100px;
}

.filter-container {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.left-buttons {
  display: flex;
  gap: 10px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}
